{% extends 'homebase.html.twig' %}

{% block title %}
  Amour Livre - Connexion
{% endblock %}

{% block body %}
  	<section class="w--900 p--2 bck--alt br--15">
		<form method="post">
		

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
				{{ message }}
				</div>
			{% endfor %}



			{% if app.user %}
				<div class="mb-3">
				Vous êtes connecté
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="text-center text-color-dark fw--b fsize-4">
				Connexion
			</h1>

			<p class="text-color-dark text-color-dark fw--b">*Obligatoire</p>

			<div class="form-group"><label class="text-color-dark" for="inputEmail">Email*</label>
			<input type="email"
			value=""
			name="email"
			id="inputEmail"
			class="form-control"
			required
			autofocus /></div>
			<div class="form-group"><label class="text-color-dark" for="inputPassword">Mot de passe*</label>
			<input type="password"
				name="password"
				id="inputPassword"
				class="form-control"
				required /></div>
			<a class="text-color-dark form-group fw--b" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
			<input type="hidden"
				name="_csrf_token"
				value="{{ csrf_token('authenticate') }}" />

			{#
										Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
										See https://symfony.com/doc/current/security/remember_me.html
										
										<div class="checkbox mb-3">
										<label>
										<input type="checkbox" name="_remember_me"> Remember me
										</label>
										</div>
										#}

			<button class="btn btn-primary btn-submit m--top-1 as--c w--300" type="submit">Connexion</button>
		</form>
  	</section>
{% endblock %}
