{% extends 'base.html.twig' %}

{% block title %}Amour Livre - Genre index{% endblock %}

{% block body %}
    <h1 class="text-center text-color-dark fw--b fsize-3 mb--1">Genre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>{{ genre.createdAt ? genre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ genre.updatedAt ? genre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-secondary w--mob-70 w--200 m--1 text-center" href="{{ path('genre_show', {'id': genre.id}) }}">monter</a>
                    <a class="btn btn-primary w--mob-70 w--200 m--1 text-center" href="{{ path('genre_edit', {'id': genre.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('genre_new') }}">Creer un nouveau genre</a>
{% endblock %}
