{% extends 'base.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}
  {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">
      {{ flashError }}
    </div>
  {% endfor %}
  <section class="w--900 p--2" id="registration">
    <h1 class="text-center">
      Inscription
    </h1>

    <p class="text-color-dark fw--b">
      *Obligatoire
    </p>

    {{ form_start(registrationForm) }}

    <div class="form-container d--flex">
      <div class="form-left w--50">
        {{
          form_row(
            registrationForm.nickname,
            {
              label: 'Pseudonyme*'
            }
          )
        }}
        <small class="ml--1 text-color-dark">Ex: John Doe</small>

        {{
          form_row(
            registrationForm.birthdate,
            {
              label: 'Date de naissance*'
            }
          )
        }}

        {{
          form_row(
            registrationForm.email,
            {
              label: 'Email*'
            }
          )
        }}
        <small class="ml--1 text-color-dark">Ex: johndoe@mailer.com</small>
        {{
          form_row(
            registrationForm.plainPassword,
            {
              label: 'Mot de Passe*'
            }
          )
        }}
      </div>

      <div class="form-right w--50">
        {{
          form_row(
            registrationForm.address,
            {
              label: 'Adresse*'
            }
          )
        }}
        <small class="ml--1 text-color-dark">Ex: 8 Allée Léon Gambetta</small>
        {{
          form_row(
            registrationForm.postal_code,
            {
              label: 'Code Postal*'
            }
          )
        }}
        <small class="ml--1 text-color-dark">Ex: 13001</small>
        {{
          form_row(
            registrationForm.city,
            {
              label: 'Ville*'
            }
          )
        }}
        <small class="ml--1 text-color-dark">Ex: Marseille</small>
        <div class="form-part-bottom d--flex-nowrap w--100">
        {{
          form_row(
            registrationForm.gender,
            {
              label: 'Je suis*'
            }
          )
        }}
        
        {{
          form_row(
            registrationForm.preference,
            {
              label: 'Intéressé par'
            }
          )
        }}
      </div>
      </div>
      
      <div class="form-footer d--flex jc--c m--top-1 w--100">
        <small class="m--1 text-color-dark">
          En créant un compte, vous acceptez automatiquement nos <a class="text-color-dark fw--b"
            href="{{ path('cgu') }}">
            Conditions Générales d'Utilisation
          </a>.
        </small>

        <button type="submit"
          class="btn btn-primary btn-signin m--top-1 w--300">
          Inscription
        </button>
      </div>
    </div>
    {{ form_end(registrationForm) }}
  </section>
{% endblock %}
