<section class="section-matching w--900 d--flex m--1">
	<h1 class="text-center section-matching__h1 mb--1 w--100">
		Vous avez des matchs !</h1>
	<div class="d--flex ai--c jc--c w--100">
		<p class="mtrl--1">
			Filtrer :
		</p>
		<div>
			<input type="checkbox" name="age">
			<label for="age" class="mtrl--1">
				Age
			</label>
		</div>
		<div>
			<input type="checkbox" name="localisation">
			<label for="localisation" class="mtrl--1">
				Localisation
			</label>
		</div>
	</div>
</section>
<section id="section-transparent" class="d--flex jc--c w--100 m--1">
	{% for matching in matchings %}
		<article class="article-matching w--600 d--flex fd--c m--left">
			<h2 class="w--100 text-center">MATCHING :
				{{ matching.rate }}</h2>
			<div class="d--flex m--top-2 m--height">
				<img src="{{asset('assets/img/profil/silhouette-amour-livre.jpg')}}" alt="silhouette">
				<ul class="w--50 ml--1">
					<li><span>Pseudo :</span> {{ matching.userB.nickname }}
					</li>
					<li><span>Age :</span> {{ matching.userB.getAge() }}
					</li>
					<li><span>Ville :</span> {{ matching.userB.city }}
					</li>
				</ul>
			</div>
			<div class="d--flex jc--se">
				<button class="btn btn-matching w--200 p--1">Voir Profil</button>
				<button class="btn btn-nomatching w--200 p--1">Ignorer</button>
			</div>
		</article>
		{% else %}
				<article class="article-matching w--600 d--flex fd--c m--left">
			<h2 class="w--100 text-center">Désolé, il n'y a aucun match...</h2>
		</article>
	{% endfor %}
</section>
{# <a href="{{ path('matching_new') }}">Create new</a> #}
