{{ form_start(bookForm) }}

<div class="row">
  <div class="col-3">
    <img class="w--100" id="book_cover" src="" alt="" />
  </div>
  <div class="col-9">
    <div class="row m--1">
      <div class="col-12">
        {{ form_label(bookForm.title) }}
        {{ form_widget(bookForm.title) }}
      </div>
    </div>
    <div class="row m--1">
      <div class="col-12">
        {{ form_label(bookForm.author) }}
        {{ form_widget(bookForm.author) }}
      </div>
    </div>
    <div class="row m--1">
      <div class="row">
        <div class="col-8">
          {{ form_label(bookForm.publisher) }}
          {{ form_widget(bookForm.publisher) }}
        </div>
        <div class="col-4">
          {{ form_label(bookForm.publication_date) }}
          {{ form_widget(bookForm.publication_date) }}
        </div>
      </div>
      <div class="row m--1">
        <div class="col-8">
          {{ form_label(bookForm.language) }}
          {{ form_widget(bookForm.language) }}
        </div>
        <div class="col-4">
          {{ form_label(bookForm.genre) }}
          {{ form_widget(bookForm.genre) }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m--1">
    <div class="col-12">
      {{ form_label(bookForm.synopsis) }}
      {{ form_widget(bookForm.synopsis) }}
    </div>      
</div>
{# <div class="row m--1">
    <div class="col-12">
      {{ form_widget(bookForm.thumbnail) }}
    </div>
</div> #}
<div class="row m--1">
    <div class="col-4">
      {{ form_label(bookForm.isbn) }}
      {{ form_widget(bookForm.isbn) }}</div>
    <div class="col-8"></div>
</div>
<div class="row m--1">
    <div class="col-4">
     <button type="submit" class="btn btn-primary w--100">Ajouter</button>
    </div>
    {{ form_end(bookForm) }}
</div>
 

  

