    <article class="article-book w--900 p--2 m--1">
    {{ form_start(bookForm)}}
      <div class="article-header d--flex jc--sb">
        <div class="article-header__left w--30">
          <img id="book-cover" class="w--100 mr--1" src="" alt="">
        </div>
        <div class="article-header__right w--65">
             {{form_label(bookForm.title, 'Titre')}}
              {{
                  form_widget(
                    bookForm.title,
                    {

                      'attr': {'toto': 'false'} 
                    }
                  )
              }}
            {{form_label(bookForm.author, 'Auteur(s)')}}
              {{
                form_widget(
                  bookForm.author,
                  {
                    'attr': {'toto': 'false'} 
                  }
                )
              }}

              <div class="article-subheader d--flex jc--sb">
                  <div class="article-subheader__left w--50">
                  {{form_label(bookForm.publisher, 'Editeur')}}
                      {{
                        form_widget(
                          bookForm.publisher,
                          {
                            'attr': {'toto': 'false'} 
                          }
                        )
                      }}
                
                      {{form_label(bookForm.publication_date, 'Publié le')}}
                      {{
                        form_widget(
                          bookForm.publication_date,
                          {
                            'attr': {'toto': 'false'} 
                          }
                        )
                      }}
                  </div>
                  <div class="article-subheader__right w--50">
                    {{form_label(bookForm.language, 'Langue')}}
                      {{
                        form_widget(
                          bookForm.language,
                          {
                            'attr': {'toto': 'false'} 
                          }
                        )
                      }}
                      {{form_label(bookForm.genre, 'Genre(s)')}}
                      {{
                        form_widget(
                          bookForm.genre,
                          {
                            'attr': {'toto': 'false'} 
                          }
                        )
                      }}
                  </div> 
              </div>
            
                              
        </div>
    
      </div>

      <div class="article-body d--flex jc--se ai--se m--top-1 w--100">
      <div class="article-body__right w--50">
        
      </div>      
        
      </div>
      <div class="article-bottom w--100">
       {{form_label(bookForm.synopsis, 'Résumé')}}
        {{
            form_widget(
              bookForm.synopsis,
              {
                'attr': {'toto': 'false'} 
              }
            )
        }}
        {{form_label(bookForm.isbn, 'ISBN')}}
        {{
          form_widget(
            bookForm.isbn,
            {
              'attr': {'toto': 'false'} 
            }
          )
        }}
      </div>
      
      <div class="article-footer d--flex jc--c m--top-2 w--100">

        {{
          form_widget(
            bookForm.thumbnail,
            {
              'attr': {'toto': 'false'} 
            }
          )
        }}

        <button id="searchBookButton" type="submit"
          class="btn btn-primary w--300">
          Ajouter toto
        </button>
      </div>
      {{ form_end(bookForm) }}
    </article>

  
