

    <article class="article-book w--900 p--2 m--1">
      <div class="article-header d--flex">
        <div class="article-header__left w--30">
          <img id="book-cover" src="" alt="">
        </div>
        <div class="article-header__right w--70">
            {{ form_start(bookForm)}}

            {{
                form_widget(
                  bookForm.title,
                  {

                    'attr': {'disabled': 'true'} 
                  }
                )
              }}

              {{
                form_widget(
                  bookForm.author,
                  {
                    'attr': {'disabled': 'true'} 
                  }
                )
              }}
              
              
        </div>
    
      </div>

      <div class="article-body d--flex jc--sb w--100">
      <div class="article-body__left w--50">
      {{form_label(bookForm.publisher, 'Editeur')}}
        {{
          form_widget(
            bookForm.publisher,
            {
              'attr': {'disabled': 'true'} 
            }
          )
        }}
     
        {{form_label(bookForm.publication_date, 'Publié le')}}
        {{
          form_widget(
            bookForm.publication_date,
            {
              'attr': {'disabled': 'true'} 
            }
          )
        }}
      
      </div>
      <div class="article-body__right w--50">
        {{form_label(bookForm.language, 'Langue')}}
        {{
          form_widget(
            bookForm.language,
            {
              'attr': {'disabled': 'true'} 
            }
          )
        }}
        {{form_label(bookForm.genre, 'Genre(s)')}}
        {{
          form_widget(
            bookForm.genre,
            {
              'attr': {'disabled': 'true'} 
            }
          )
        }}
      </div>      
        
      </div>
      <div class="article-bottom w--100">
       {{form_label(bookForm.synopsis, 'Résumé')}}
        {{
            form_widget(
              bookForm.synopsis,
              {
                'attr': {'disabled': 'true'} 
              }
            )
        }}
        {{form_label(bookForm.isbn, 'ISBN')}}
        {{
          form_widget(
            bookForm.isbn,
            {
              'attr': {'disabled': 'true'} 
            }
          )
        }}
      </div>
      
      <div class="article-footer w--100">

        {{
          form_widget(
            bookForm.thumbnail,
            {
              'attr': {'disabled': 'true'} 
            }
          )
        }}

        <button id="searchBookButton" type="submit"
          class="btn btn-primary m--top-1 w--300">
          Ajouter
        </button>
        {{ form_end(bookForm) }}
      </div>
    </article>
  
