{% extends 'baseadmin.html.twig' %}

{% block title %}Amour Livre - adminBook
{% endblock %}

{% block body %}
	<section class="section-admin w--100 p--2 bck--admin br--15 pb--1">
		<h1 class="text-center text-color-dark fw--b fsize-3 mb--1">Admin Book</h1>

		<table class="table">
			<thead>
				<tr>
					<th class="text-color-dark">Id</th>
					<th class="text-color-dark">Title</th>
					<th class="text-color-dark">Synopsis</th>
					<th class="text-color-dark">Thumbnail</th>
					<th class="text-color-dark">Language</th>
					<th class="text-color-dark">Genre</th>
					<th class="text-color-dark">Isbn</th>
					<th class="text-color-dark">Publication_date</th>
					<th class="text-color-dark">Created_at</th>
					<th class="text-color-dark">Updated_at</th>
					<th class="text-color-dark">Publisher</th>
					<th class="text-color-dark">Author</th>
					<th class="text-color-dark">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
					<tr>
						<td>{{ book.id }}</td>
						<td>{{ book.title }}</td>
						<td>{{ book.synopsis }}</td>
						<td>{{ book.thumbnail }}</td>
						<td>{{ book.language }}</td>
						{% for genre in book.genre %}
							<td>{{ genre.name }}</td>
						{% endfor %}
						<td>{{ book.isbn }}</td>
						<td>{{ book.publicationDate ? book.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ book.createdAt ? book.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ book.updatedAt ? book.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ book.publisher }}</td>
						<td>{{ book.author }}</td>
						<td>
							<a class="btn btn-secondary w--mob-70 w--200 m--1 text-center" href="{{ path('book_show', {'id': book.id}) }}">montrer</a>
							{{ include('book/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="12" class="text-color-dark">Pas d'entrée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{#<a href="{{ path('book_new') }}" class="text-color-dark fw--b">Créer nouvelle entrée</a>#}
	</section>
{% endblock %}
