<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="blablablablablablablablablablabla">
		<link rel="icon" type="image/png" href="{{asset('assets/img/favicon-196x196.png')}}">
		<title>
			{% block title %}Amour Livre
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
			<link rel="stylesheet" href="{{ asset('assets/css/reset.css') }} ">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }} ">

		{% endblock %}
	</head>
	<body>

		<header class="p--mob--relative p--fixed w--100 zi--50">
			<nav class="navbar navbar-default navbar-expand-lg w--mob-100 bck--dark  br--blr--15">
			{% if app.user is empty  %}
				<div class="container-fluid">
					<a class="navbar-brand d--mob--flex m--mob-auto" href="#"><img class="w--50 m--auto" src="{{ asset('assets/img/logo/logo-white.png')}}" alt=""></a>
				</div>
				<div class="d--mob-none w--70 w--100  d--flex jc--fe">
					<a class="btn btn-secondary w--150 m--1 text-center" href="{{path('app_login')}}">Connexion</a>
					<a class="btn btn-primary w--150 m--1 text-center" href="{{path('app_register')}}">Inscription</a>
				</div>
			{% else  %}
				<div class="container-fluid">
					<a class="navbar-brand main-menu__brand" href="{{path('profil', {id: app.user.id})}}"><img src="{{ asset('assets/img/logo/logo-white.png')}}" alt=""></a>
					<button class="navbar-toggler main-menu__toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon main-menu__toggler-icon">
							<i class="fas fa-bars"></i>
						</span>
					</button>
					<div class="collapse navbar-collapse main-menu__collapse d--mob--flex fd--mob-c ai--mob-c  p--mob-top-1 jc--sb" id="navbarSupportedContent">
						<ul class="navbar-nav main-menu__nav">
							<li class="nav-item main-menu__item text-center">
								<a class="nav-link main-menu__link" href="{{path('profil', {id: app.user.id})}}">Profil</a>
							</li>
							<li class="nav-item main-menu__item text-center">
								<a class="nav-link main-menu__link" href="{{path('matching')}}">Matching</a>
							</li>
							<li class="nav-item main-menu__item text-center">
								<a class="nav-link main-menu__link" href="{{path('messagerie')}}">Messagerie</a>
							</li>
						</ul>
						<a class="btn btn-secondary btn-logout w--mob-70 w--200 m--1  text-center" href="{{path('app_logout')}}" role="button">
									Déconnexion</a>
					</div>
					
				</div>
			{% endif  %}
				
			</nav>
		</header>	
		<div id="overlay-base"></div>
		<div class="background-base"></div>
		<main class="m--top-13">
			<div class="container-fluid">
				<div class="row"> {% block body %}{% endblock %}
					</div>
				</div>
			</main>
			<footer>
				<nav class="footer-menu">
					<ul class="nav footer-menu__nav">
						<li class="nav-item footer-menu__item">
							<a class="nav-link footer-menu__link active" aria-current="page" href="{{path('contact')}}">Contact</a>
						</li>
						<li class="nav-item footer-menu__item">
							<a class="nav-link footer-menu__link" href="{{path('cgu')}}">CGU</a>
						</li>
						<li class="nav-item footer-menu__item">
							<a class="nav-link footer-menu__link" href="{{path('cgv')}}">CGV</a>
						</li>
						<li class="nav-item footer-menu__item">
							<a class="nav-link footer-menu__link" href="{{path('about')}}">Qui sommes-nous ?</a>
						</li>
						<li class="nav-item footer-menu__item">
							<a class="nav-link footer-menu__link" href="{{path('mentions')}}">Mentions Légales</a>
						</li>
					</ul>
				</nav>
				<p class="footer-text">Tous droits réservés - &copy;Team CHECK - 2021</p>
			</footer>

			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

			{% block javascripts %}{% endblock %}
		</body>
	</html>
