{% extends 'base.html.twig' %}

{% block title %}
  User
{% endblock %}

{% block body %}
  <section>
    <h1>
      Mon Profil
    </h1>
    <article class="card mb--2" style="width: 20rem;">
      <a href="{{
        path(
          'user_edit',
          {
            id: user.id
          }
        )
        }}">
        <i class="far fa-edit text-color-dark"></i>
      </a>
      <div class="card-header">
        {% if user.avatar %}
          <img src="{{ asset("upload/ #{user.avatar} ") }}"
            class="card-img-top"
            alt="Avatar de  {{ user.nickname }}" />
        {% else %}
          {% if user.gender == 'homme' %}
            <img src="{{ asset('assets/img/profil/avatar-homme.png') }}"
              class="card-img-top"
              alt="Avatar par défaut: silhouette {{ user.gender }}" />
          {% else %}
            <img src="{{ asset('assets/img/profil/avatar-femme.png') }}"
              class="card-img-top"
              alt="..." />
          {% endif %}
        {% endif %}
        <h3 class="card-title text-center">
          {{ user.nickname }}
        </h3>
        <p class="card-text text-center p--0">
          {{ user.getAge() }} ans - {{ user.city }}
        </p>
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ user.description }}
        </p>
      </div>
    </article>
  </section>
  
  <section>
    <h2>
      Mes 5 livres favoris
    </h2>
    <div id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{asset('assets/img/book/book.png')}}" class="d-block w-30 m--auto" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{asset('assets/img/book/book.png')}}" class="d-block w-30 m--auto" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{asset('assets/img/book/book.png')}}" class="d-block w-30 m--auto" alt="..." />
        </div>
         <div class="carousel-item">
          <img src="{{asset('assets/img/book/book.png')}}" class="d-block w-30 m--auto" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="{{asset('assets/img/book/book.png')}}" class="d-block w-30 m--auto" alt="..." />
        </div>
      </div>
      <a class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </section>
  <section>
    <h2>
      Ma Bilbiothèque
    </h2>
    <div class="books-container d--flex jc--se">
          {% for book in books %}
            <a  href="{{path('book_show', {id: book.id})}}"><img src="{{ book.thumbnail }}" class="d-block w-30 m--auto" alt="..." /></a>
          {% endfor %}
    </div>

  </section>
  

  <a href="{{ path('user_index') }}">back to list</a>

  <a href="{{
    path(
      'user_edit',
      {
        id: user.id
      }
    )
    }}">
    edit
  </a>

  {{ include('user/_delete_form.html.twig') }}
{% endblock %}
